<footer class="footer">
    <small>
        The Sample App made by <a href="http://wallpapercave.com/wp/N1OF7RI.png">
          Przemysław Prokopczuk</a>, all rights reserved.
    </small>
    <nav>
      <ul>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
</footer>